li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 20px;
}

li {
  list-style: none;
  flex: 0 0 calc(33.333% - 16px);
  max-height: 200px;
  overflow: hidden;
  width: 360px;
  height: 300px;
  flex-shrink: 0;
  flex-basis: auto;
}

.gallery {
  display: flex;
  row-gap: 24px;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0;
  margin: 0;
  column-gap: 24px;
  max-width: 1128px;
  margin-left: auto;
  margin-right: auto;
}

li:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}
